.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
  h2 {
    color: rgb(247, 241, 241);
    font-size: 100%;
  }
  .with-icon {
    display: flex;
    align-items: center;
}
p {
  font-size: 15px;
  margin-bottom: 0.5rem;
}
a {
  color: black;
}
.playstorebadge {
  height: 60%;
  width: 51%;
  /* top: inherit; */
  margin-bottom: 7%;
}
.sharewithfandf{
  height: 0.5%;
  width: 5%
}

.mat-parent-small{
  display: none;
}

/*for mobile devices*/
@media only screen and (max-width: 500px) {
  .mat-parent-small{
   display: block;
 }
 .footer-parent{
   display: none;
 }
.mat-parent-small {
 background-color:rgba(255, 255, 255, 0.678); 
 margin-top: 19%;
 width: 96%;
 margin-left: 2%;
 position: relative;
 height: 440px;
 padding-bottom: 10%;
 /*background-image: url("/assets/img/bg1.jpg");*/
}
}
