<footer class="page-footer font-small unique-color-dark footer-parent">
  <div style="background: linear-gradient(to left, #1c9dc3 0%, #0018cc 100%);">
    <div class="container">
      <div class="row py-2 d-flex align-items-center">
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h2>share with family and friends on</h2>
        </div>
        <div class="col-md-6 col-lg-7 text-center text-md-right">
            <a target="_blank" href="https://www.facebook.com/">
              <img class="sharewithfandf" src="assets/images/facebook-512.png">
            </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center text-md-left">
    <div class="row mt-3">
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Dressmaker</h6>
        <p>We makes, alters and repairs women's and men's tailored garments, formal wear, couturier clothing, and special occasion
          wear such as suits, dresses, coats, evening wear and bridal wear. We will accept the bulk orders also.</p>
      </div>
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Services</h6>
        <p><a routerLink="/men">Men</a></p>
        <p><a routerLink="/women">Women</a></p>
        <p><a routerLink="/kids">Kids</a></p>
      </div>
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <p><a routerLink="/faq">FAQ</a></p>
        <p><a routerLink="/about">About</a></p>
        <p><a routerLink="/contactus">Contact us</a></p>
        <p><a routerLink="/agentregistration">Agent Login</a></p>
      </div>
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <p>Registered office :<br>The digital tailor fort, Near vijayanagar bus stop, Velacheri, Chennai - 600042,<br>contact : +91 8122470417<br>Email us : arynts@gmail.com
        <br>
        <a target="_blank" href="https://itunes.apple.com/bt/genre/ios/id36?mt=8">
          <mat-icon style="width: 40% ;height: 40%;font-size: 56px;" svgIcon="appstoreBadge"></mat-icon>
        </a>
        <a target="_blank" href="https://play.google.com/store?hl=en">
          <img class="playstorebadge" src="assets/images/google-play-badge.png"></a>
        </p>
        
      </div>      
    </div>
  </div>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="http://localhost:4200/">AMTailors.com</a>
  </div>
  <!-- Copyright -->
</footer>

<!--/*for mobile and small  devices */-->
<footer class="mat-parent-small">
    <div style="background: linear-gradient(to left, #1c9dc3 0%, #0018cc 100%);">
        <div class="container">
          <div class="row py-2 d-flex align-items-center">
            <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
              <h2>share with family and friends on</h2>
            </div>
            <div class="col-md-6 col-lg-7 text-center text-md-right">
                <a target="_blank" href="https://www.facebook.com/">
                  <img class="sharewithfandf" src="assets/images/facebook-512.png">
                </a>
            </div>
          </div>
        </div>
    </div>
    <div class="container text-center text-md-left">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase font-weight-bold">Dressmaker</h6>
            <p>We makes, alters and repairs women's and men's tailored garments, formal wear, couturier clothing, and special occasion
              wear such as suits, dresses, coats, evening wear and bridal wear. We will accept the bulk orders also.</p>
          </div>
          <div class="col-md-5">
              <div class="row">
                  <div class="col-xs-6" style="margin-right: 20%; margin-left: 15%">
                      <h6 class="text-uppercase font-weight-bold">Services</h6>
                      <p><a routerLink="/men">Men</a></p>
                      <p><a routerLink="/women">Women</a></p>
                      <p><a routerLink="/kids">Kids</a></p>
                      <p><a routerLink="/reports" routerLinkActive="active">Reports</a></p>
                  </div>
                  <div class="col-xs-6">
                      <h6 class="text-uppercase font-weight-bold">Useful links</h6>
                      <p><a routerLink="/faq">FAQ</a></p>
                      <p><a routerLink="/about">About</a></p>
                      <p><a routerLink="/contactus">Contact us</a></p>
                      <p><a routerLink="/demo">Demo</a></p>              
                  </div>
                </div>
          </div>  
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase font-weight-bold">Contact</h6>
            <p>Registered office :<br>The digital tailor fort, Near vijayanagar bus stop, Velacheri, Chennai - 600042,<br>contact : +91 8122470417<br>Email us : arynts@gmail.com
            <br>
            <a target="_blank" href="https://itunes.apple.com/bt/genre/ios/id36?mt=8">
              <mat-icon style="width: 40% ;height: 40%;font-size: 56px;" svgIcon="appstoreBadge"></mat-icon>
            </a>
            <a target="_blank" href="https://play.google.com/store?hl=en">
              <img class="playstorebadge" src="assets/images/google-play-badge.png"></a>
            </p>
          </div>      
        </div>
      </div>
</footer>