  .carousel-item{
    height: 400px;
    width: 100%;
   position: relative;
    background-color:white; 
  }
  .example-card {
    max-width: 300px;
    box-shadow: 1px;
  }
  .card-background {
    background-color: rgba(240, 239, 245, 0.055);
    // border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
  }
  