<mat-card class="mat-parent">
    <carousel>
        <div class="carousel-inner" align="center" role="listbox">
            <slide>
                <div class="carousel-item" style="display: block; width: 100%;">
                    <div class="col-md-12">
                        <mat-card class="example-card">
                            <img mat-card-image src="./assets/images/amtimages/diytailoring.jpg" alt="stritching">
                        </mat-card>
                    </div>
                </div>
            </slide>
            <slide>
                <div class="carousel-item" style="display: block; width: 100%;">
                    <div class="col-md-12">
                        <mat-card class="example-card">
                            <!-- <img mat-card-image src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Photo of a Shiba Inu"> -->
                            <img mat-card-image src="./assets/images/amtimages/tailor-home-main-bg.jpg" alt="Photo of local">
                            <mat-card-content>
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p>Some quick example text to build on the card title and make up the bulk of the card's
                                        content.
                                    </p>
                                    <button mat-raised-button color="primary">Primary</button>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                  </div>
            </slide>
            <slide>
                <div class="carousel-item" style="display: block; width: 100%;">
                    <div class="col-md-12">
                        <mat-card class="example-card">
                            <!-- <img mat-card-image src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg" alt="Photo of a Shiba Inu"> -->
                            <img mat-card-image src="./assets/images/amtimages/tailor-made-tours.jpg" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p>Some quick example text to build on the card title and make up the bulk of the card's
                                        content.
                                    </p>
                                    <button mat-raised-button color="primary">Primary</button>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </slide>
        </div>
    </carousel>
</mat-card>

<!--/*for mobile and small  devices */-->
<mat-card class="mat-parent-small">
  <carousel>
      <slide>
          <mat-card class="example-card">
            <img mat-card-image src="./assets/images/amtimages/diytailoring.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                  <div class="card-body">
                      <h4 class="card-title">Stritching</h4>
                      <p>Select this if you have Fabric and need Stitching service.
                      </p>
                      <button mat-raised-button color="primary">Stritching</button>
                  </div>
              </mat-card-content>
          </mat-card>
      </slide>
      <slide>
          <mat-card class="example-card">
              <img mat-card-image src="./assets/images/amtimages/tailor-home-main-bg.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                  <div class="card-body">
                      <h4 class="card-title">Alteration</h4>
                      <p>Are your dresses unfits you? We will make it good fit on you.
                      </p>
                      <button mat-raised-button color="primary">Alteration</button>
                  </div>
              </mat-card-content>
          </mat-card>
      </slide>
      <slide>
          <mat-card class="example-card">
              <img mat-card-image src="./assets/images/amtimages/tailor-2.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                  <div class="card-body">
                      <h4 class="card-title">Women services</h4>
                      <p>Are you looking for Salwar Kameez,Blous,Lehenga,Churidaar,Jackets,Shirts etc, contact our experts then. </p>
                      <button mat-raised-button color="primary">Women services</button>
                  </div>
              </mat-card-content>
          </mat-card>
      </slide>
      <slide>
          <mat-card class="example-card">
              <img mat-card-image src="./assets/images/amtimages/tailoring-supplies.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                  <div class="card-body">
                      <h4 class="card-title">Kids stritching</h4>
                      <p>get better fits for your kids.
                      </p>
                      <button mat-raised-button color="primary">Kids Services</button>
                  </div>
              </mat-card-content>
          </mat-card>
      </slide>
  </carousel>
</mat-card>